.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}
.popup .popup-content {
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: #FFFFFF;
  padding: 50px;
  box-sizing: border-box;
  align-self: center;
  position: relative;
}
.popup .popup-content button.close {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  cursor: pointer;
}
